* {
  font-family: "Rubik", sans-serif;
  color: #1d0f68;
}

body {
  text-align: center;
  margin: 20px;
  font-size: 14px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
h2 {
  color: #1d0f68;
}

ol {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

p {
  font-size: 16px;
  color: #1d0f68;
}

label {
  margin-left: 1rem;
  margin-bottom: 0.25rem;
  font-size: 10px;
  color: #1d0f68;
}

button {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 1px 0 1px 0;
  min-width: 100px;
  padding: 8px 21px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
  font-size: 14px;
  background-color: #3e21de;
  color: #fff;
  cursor: pointer;
  /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

button:hover {
  box-shadow: 0px 4px 25px rgba(62, 33, 222, 0.3);
  transform: translateY(-1px);
}

button:focus {
  background-color: #3e21de;
  /* box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.3); */
}

input {
  font-weight: 400;
  font-size: 14px;
  line-height: 162x;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 21px 16px;
  color: #1d0f68;
  border: 1px solid #e7e4fb;
  border-radius: 6px;
  outline: none;
  background-color: #e7e4fb;
}

input:hover {
  border: 1px solid #c3baf5;
}

input:active,
input:focus {
  border: 1px solid #3e21de;
}

.primary {
  background-color: #1d0f68;
  color: #fff;
  margin-left: 1rem;
  width: calc(50% - 8px);
}

.secondary {
  background-color: #e7e4fb;
  box-shadow: none !important;
  width: calc(50% - 8px);
  color: #1d0f68;
}
.secondary:hover {
  box-shadow: none !important;
  transform: translateY(0px);
}
.secondary:focus {
  background-color: rgba(62, 33, 222, 0.3);
}

.row {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
}

.button-row {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

#link {
  color: #1d0f68;
  cursor: pointer;
  background-image: linear-gradient(
    120deg,
    rgba(62, 33, 222, 0.2),
    rgba(62, 33, 222, 0.2) 100%
  );
  background-repeat: no-repeat;
  background-size: 100% 0.5em;
  background-position: 0 90%;
  transition: background-size 0.25s ease-in;
  text-decoration: none;
}

#link:hover {
  /* color: #fff; */
  background-size: 100% 88% !important;
}
