* {
  font-family: "Rubik", sans-serif;
}

h2 {
  color: #212121;
}

p {
  font-size: 14px;
  color: #212121;
}

label {
  margin-right: 0.5rem;
  font-size: 10px;
  color: #666;
}

button {
  display: inline-block;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin: 1px 0 1px 0;
  padding: 5px 16px 5px 16px;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  font-weight: bold;
}

a {
  color: #5b42e3;
}

input {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.005em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  margin: 1px 0 1px 0;
  padding: 8px 4px 8px 7px;
  color: #3e21de;
  border: 1px solid #e7e4fb;
  border-radius: 2px;
  outline: none;
  background-color: #e7e4fb;
}

input:hover {
  border: 1px solid #c3baf5;
}

input:active,
input:focus {
  padding: 8px 4px 8px 6px;
  border: 1px solid #3e21de;
}

.primary {
  background-color: #3e21de;
  color: #fff;
  margin-left: 0.5rem;
}

.secondary {
  background-color: #e7e4fb;
  color: #3e21de;
}

.row {
  margin-bottom: 1rem;
}

.button-row {
  display: flex;
  flex-direction: row-reverse;
}
